* {
		font-family: sans-serif;		
}
h1 {
		background-color: #ba8749;
		text-align: center;
}
table {
		width: 50%;
		border-collapse: collapse;
		margin: 5%;
		background: #bf3300;
}

th, td {
		padding: 15px;
		border: 1px solid black;
}

tr:hover {
		background-color: #f5f5f5;
}

a:link, a:visited {
		color: #44cc00;
}

a:hover {
		color: hotpink;
}

.container {
		background-color: #123456;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-items: center;
}


.box {
		width: 50%;
		text-align: center;
}

@keyframes linkColor {
		0% {font-size: 14pt};
		50% {font-size: 20pt}
		100% {font-size: 30pt}
}
#homeBox:hover {
		animation-name: linkColor;
		animation-duration: 4s;
		animation-fill-mode: forwards;
}

img {
		max-width: 100%;

}

#photoHeader {
		color: blue;
		border: 5px solid red;
}

@media (max-width: 500px) {
		.container{
				flex-direction: column;
				background-color: blue;
		}

		.box {
				width: 80%;
		}

}
