%nonheader {
		font-family: sans-serif;
}	

$color: #ba8749;

h1 {
		font-family: fantasy;
		background-color: $color;
		text-align: center;
}
table {
		width: 50%;
		border-collapse: collapse;
		margin: 5%;
		background: #bf3300;
}

th, td {
		@extend %nonheader;
		padding: 15px;
		border: 1px solid black;
}

tr:hover {
		background-color: $color;

		ol {
				font-family: fantasy;
		}
}

a:link, a:visited {
		@extend %nonheader;
		color: #44cc00;
}

a:hover {
		@extend %nonheader;
		color: hotpink;
}
